.container {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 30px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 350px;
    margin-bottom: 10px;
}

.checkbox {
    margin-right: '15px'
}

ul {
    padding: 0;
    list-style-type: none;
}